<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <h2>
            <span>Pokemon GO Tracker</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-font-set="material-icons" style="color: greenyellow;">favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-font-set="material-icons">more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true">
        <ui-gmap-markers models="vm.map.markers" coords="'self'"></ui-gmap-markers>
    </ui-gmap-google-map>
    <md-content layout="row" layout-wrap>
        <md-card ng-click="vm.clickGym(gym)" ng-repeat="gym in vm.gymService.gyms" flex="100" flex-gt-sm="50" flex-gt-md="33" ng-class="{'md-dark-red-theme': gym.data.team == 'Valor','md-dark-blue-theme': gym.data.team == 'Mystic', 'md-dark-yellow-theme': gym.data.team == 'Instinct'}">
            <md-card-header>
                <md-card-avatar>
                    <md-progress-circular ng-if="gym.isLoading" md-mode="indeterminate"></md-progress-circular>
                    <img ng-if="!gym.isLoading" ng-src="{{gym.data.guardPokemon.img}}" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{gym.name}}</span>
                    <span class="md-subhead">Team {{gym.data.team}} - XP: {{gym.data.gymXP}}</span>
                </md-card-header-text>
            </md-card-header>
            <!--<md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.clickGym(gym)">Action 1</md-button>
            </md-card-actions>-->
        </md-card>
    </md-content>
</md-content>