<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <h2>
            <span>Pokemon GO Tracker</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-font-set="material-icons" style="color: greenyellow;">favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-font-set="material-icons">more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true">
        <ui-gmap-markers models="vm.map.markers" coords="'self'"></ui-gmap-markers>
    </ui-gmap-google-map>
    <md-content>
        <div>

        </div>
    </md-content>
</md-content>