<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <h2>
            <span>Pokemon GO Tracker</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-font-set="material-icons" style="color: greenyellow;">favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-font-set="material-icons">more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>

<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="vm.$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Gyms</h1>
        </md-toolbar>
        <md-content layout-wrap>
            <md-card ng-click="vm.clickGym(gym)" ng-repeat="gym in vm.gymService.gyms" flex="100"  ng-class="{'md-dark-red-theme': gym.gym_state.fort_data.team == 'Red','md-dark-blue-theme': gym.gym_state.fort_data.team == 'Blue', 'md-dark-yellow-theme': gym.gym_state.fort_data.team == 'Yellow'}">
            <md-card-header>
                <md-card-avatar>
                    <md-progress-circular ng-if="gym.isLoading" md-mode="indeterminate"></md-progress-circular>
                    <img ng-if="!gym.isLoading" ng-src="{{gym.gym_state.fort_data.guardPokemon.img}}" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{gym.name}}</span>
                    <span class="md-subhead">Team {{gym.gym_state.fort_data.team}} - XP: {{gym.gym_state.fort_data.gym_points.low}}</span>
                </md-card-header-text>
            </md-card-header>
            <!--<md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.clickGym(gym)">Action 1</md-button>
            </md-card-actions>9-->
        </md-card>
        </md-content>
    </md-sidenav>

    <md-content flex layout-fill>
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" events="vm.map.events">
            <ui-gmap-markers models="vm.map.markers" coords="'self'"></ui-gmap-markers>
        </ui-gmap-google-map>
        <!--<md-content layout="row" layout-wrap>
        <md-card ng-click="vm.clickGym(gym)" ng-repeat="gym in vm.gymService.gyms" flex="100" flex-gt-sm="50" flex-gt-md="33" ng-class="{'md-dark-red-theme': gym.gym_state.fort_data.team == 'Red','md-dark-blue-theme': gym.gym_state.fort_data.team == 'Blue', 'md-dark-yellow-theme': gym.gym_state.fort_data.team == 'Yellow'}">
            <md-card-header>
                <md-card-avatar>
                    <md-progress-circular ng-if="gym.isLoading" md-mode="indeterminate"></md-progress-circular>
                    <img ng-if="!gym.isLoading" ng-src="{{gym.gym_state.fort_data.guardPokemon.img}}" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{gym.name}}</span>
                    <span class="md-subhead">Team {{gym.gym_state.fort_data.team}} - XP: {{gym.gym_state.fort_data.gym_points.low}}</span>
                </md-card-header-text>
            </md-card-header>
            <!--<md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.clickGym(gym)">Action 1</md-button>
            </md-card-actions>
        </md-card>
    </md-content> -->
    </md-content>
</section>